body {
  background-color: #222; }

#main-header {
  text-align: center;
  font-family: 'Cousine', monospace;
  color: white; }

#main-content {
  display: flex;
  width: 80%;
  background-color: white;
  margin: auto;
  padding: 3%;
  border-radius: 5px; }
  #main-content #editor-container, #main-content #preview-container {
    flex-basis: 50%;
    margin: 0 10px; }
    #main-content #editor-container .section-header, #main-content #preview-container .section-header {
      text-align: center;
      font-family: "Open Sans", Helvetica, sans-serif; }
    #main-content #editor-container #editor, #main-content #preview-container #editor {
      border: 1px solid #aaa;
      border-radius: 3px;
      width: 90%;
      margin: auto;
      max-height: 90%;
      padding: 10px 20px;
      font-size: 1.2em;
      resize: vertical; }
    #main-content #editor-container #preview, #main-content #preview-container #preview {
      border: 1px solid #aaa;
      border-radius: 3px;
      padding: 10px 30px;
      font-family: Helvetica, sans-serif; }
      #main-content #editor-container #preview blockquote, #main-content #preview-container #preview blockquote {
        border-left: 4px solid #dadada;
        padding-left: 30px;
        margin-left: 0; }
      #main-content #editor-container #preview pre, #main-content #preview-container #preview pre {
        background-color: #f5f1f3;
        display: block;
        padding: 10px 15px;
        border-radius: 2px; }
      #main-content #editor-container #preview img, #main-content #preview-container #preview img {
        max-width: 100%; }

@media screen and (max-width: 700px) {
  #main-content {
    flex-direction: column;
    width: 95%;
    font-size: 0.9em; }
    #main-content #editor-container #editor, #main-content #preview-container #editor {
      padding: 10px; }
    #main-content #editor-container #preview, #main-content #preview-container #preview {
      padding: 10px; } }
